<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="shortcut icon" href="static/img/favicon.png" type="image/png">
    <title>Maps</title>
    <style>

   P {color: black;}

   .color1 {
   background: 	#4682B4
   }

   .color2 {
   background: #6495ED
   }

   .color3 {
   background: 	#87CEFA;
   }
    </style>
</head>
<body>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check2" viewBox="0 0 16 16">
        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"></path>
    </symbol>
    <symbol id="circle-half" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"></path>
    </symbol>
    <symbol id="moon-stars-fill" viewBox="0 0 16 16">
        <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"></path>
        <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"></path>
    </symbol>
    <symbol id="sun-fill" viewBox="0 0 16 16">
        <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"></path>
    </symbol>
</svg>

<div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
    <button class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center" id="bd-theme" type="button"
            aria-expanded="false" data-bs-toggle="dropdown" aria-label="Toggle theme (light)">
        <svg class="bi my-1 theme-icon-active" width="1em" height="1em">
            <use href="#sun-fill"></use>
        </svg>
        <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
    </button>
    <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="light"
                    aria-pressed="true">
                <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em">
                    <use href="#sun-fill"></use>
                </svg>
                Light
                <svg class="bi ms-auto d-none" width="1em" height="1em">
                    <use href="#check2"></use>
                </svg>
            </button>
        </li>
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark"
                    aria-pressed="false">
                <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em">
                    <use href="#moon-stars-fill"></use>
                </svg>
                Dark
                <svg class="bi ms-auto d-none" width="1em" height="1em">
                    <use href="#check2"></use>
                </svg>
            </button>
        </li>
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto"
                    aria-pressed="false">
                <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em">
                    <use href="#circle-half"></use>
                </svg>
                Auto
                <svg class="bi ms-auto d-none" width="1em" height="1em">
                    <use href="#check2"></use>
                </svg>
            </button>
        </li>
    </ul>
</div>
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6">{{ user.name }} {{ user.surname }}</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-nav">
        <div class="nav-item text-nowrap">
            <a class="nav-link px-3" href="/logout">Выйти</a>
        </div>
    </div>
</header>
<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-body-tertiary sidebar collapse">
            <div class="position-sticky pt-3 sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/profile_user/{{ current_user.id }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                <path fill-rule="evenodd"
                                      d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                            </svg>
                            Профиль
                        </a>
                    </li>
                </ul>
            </div>
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            </div>
            <div>
                <form class="login_form" method="post">
                    {% if form.longitude.data %}
                        <p>{{ form.longitude(type="text", class="form-control", placeholder="longitude:", value=form.longitude.data ) }}</p>
                    {% else %}
                        <p>{{ form.longitude(type="text", class="form-control", placeholder="longitude:") }}</p>
                    {% endif %}

                    {% if form.lattitude.data %}
                        <p>{{ form.lattitude(type="text", class="form-control", placeholder="lattitude:", value=form.lattitude.data ) }}</p>
                    {% else %}
                        <p>{{ form.lattitude(type="text", class="form-control", placeholder="lattitude:") }}</p>
                    {% endif %}

                    {% if form.delta.data %}
                        <p>{{ form.delta(type="text", class="form-control", placeholder="delta:", value=form.delta.data ) }}</p>
                    {% else %}
                        <p>{{ form.delta(type="text", class="form-control", placeholder="delta:") }}</p>
                    {% endif %}

                    <p>{{ form.object(type="text", class="form-control", placeholder="object:") }}</p>
                    <p>{{ form.address(type="text", class="form-control", placeholder="address:") }}</p>
                    <button type="submit" class="btn btn-primary">Поиск
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                            viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                    </button>
                </form>
            </div>
            <p></p>
            <div>
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                </div>
                <p>
                    <a class="btn btn-primary" href="/news">Добавить новость</a>
                </p>
            </div>

        </nav>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            </div>
            <div class="row">
                <img src="{{ img }}" alt="" width="720" height="540">
                {%if prognoz1%}
                <div align="center">
                    <h1>Погода</h1>
                    <p></p>
                    <div class="row">
                       {%for weth in prognoz1%}
                        <div align="left" style="padding: 0px 0px 0px 50px">
                            {% if loop.index0  == 0 %}
                                <h4>Сегодня</h4>
                            {% else %}
                                <h4>{{ weth['dates'] }}</h4>
                            {% endif %}
                            <h5>Температура: {{ weth['temp'] }}°C</h5>
                            <h5>Скорость ветра: {{ weth['wind'] }}м/с</h5>
                            <h5>Влажность: {{ weth['humidity'] }}%</h5>
                            <h5>Давление: {{ weth['pressure'] }}мм рт. ст.</h5>
                            <h5>{{ weth['prec'] }}</h5>
                        </div>
                       {%endfor%}
                    </div>
                    <p></p>
                    <div class="row">
                       {%for weth in prognoz2%}
                        <div align="left" style="padding: 0px 0px 0px 50px">
                            <h4>{{ weth['dates'] }}</h4>
                            <h5>Температура: {{ weth['temp'] }}°C</h5>
                            <h5>Скорость ветра: {{ weth['wind'] }}м/с</h5>
                            <h5>Влажность: {{ weth['humidity'] }}%</h5>
                            <h5>Давление: {{ weth['pressure'] }}мм рт. ст.</h5>
                            <h5>{{ weth['prec'] }}</h5>
                        </div>
                       {%endfor%}
                   </div>
                </div>
                {%elif prognoz1 == False%}
                    <h1 style="padding: 0px 0px 0px 30px">Для вашего запроса погода не найдена</h1>
                {%endif%}
            </div>
            <p></p>
            <div class="carousel slide" data-ride="carousel">
                    <div id="carousel-basic" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active color1">
                                <div class="d-flex justify-content-center" style="height: 300px">
                                    <h2 style="padding: 10px">Карты</h2>
                                </div>
                                <div class="container">
                                    <div class="carousel-caption text-end">
                                        <p>Карты помогут найти нужное место</p>
                                        <p>покажут прогноз погоды на ближайшие дни</p>
                                    </div>
                                </div>
                            </div>


                            <div class="carousel-item color2">
                                <div class="d-flex justify-content-center" style="height: 300px">
                                    <h2 style="padding: 10px">Карты</h2>
                                </div>
                                <div class="container">
                                    <div class="carousel-caption text-end">
                                        <p>Карты помогут найти нужное место</p>
                                        <p>покажут прогноз погоды на ближайшие дни</p>
                                    </div>
                                </div>
                            </div>

                            <div class="carousel-item color3">
                                <div class="d-flex justify-content-center" style="height: 300px">
                                    <h2 style="padding: 10px">Карты</h2>
                                </div>
                                <div class="container">
                                    <div class="carousel-caption text-end">
                                        <p>Карты помогут найти нужное место</p>
                                        <p>покажут прогноз погоды на ближайшие дни</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Controls -->
                            <a class="carousel-control-prev" href="#carousel-basic" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Назад</span>
                            </a>
                            <a class="carousel-control-next" href="#carousel-basic" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Вперед</span>
                            </a>
                        </div>
                    </div>
                    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                            crossorigin="anonymous"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                            crossorigin="anonymous"></script>
                    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                            crossorigin="anonymous"></script>
                            <canvas class="my-4 w-100" id="myChart" width="875" height="369"
                                    style="display: block; box-sizing: border-box; height: 246px; width: 583px;"></canvas>
            </div>
        </main>
    </div>
</div>
<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
        integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"
        integrity="sha384-gdQErvCNWvHQZj6XZM0dNsAoY4v+j5P1XDpNkcM3HJG1Yx04ecqIHk7+4VBOCHOG"
        crossorigin="anonymous"></script>
<script src="dashboard.js"></script>
</body>
</html>
