<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="shortcut icon" href="static/img/favicon.png" type="image/png">
    <title>Публикация карты</title>
</head>
<body>
<header>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand" href="/profile_user/{{ current_user.id }}">{{ current_user.name }} {{ current_user.surname }}</a>
        {% if current_user.is_authenticated %}
            <a class="navbar-brand" href="/map_edit">Редактор карт</a>
            <a class="navbar-brand" href="/logout">Выйти</a>
        {% else %}
            <p>
                <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
                <a class="btn btn-success" href="/login">Войти</a>
            </p>
        {% endif %}
    </nav>
</header>
<!-- Begin page content -->
<main role="main" class="container">
    <h1 class="d-flex justify-content-center" >Добавление новости</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="row d-flex justify-content-center">
            <div>
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <img src="{{ img }}" alt="">
                </div>
                <div>
                    {{ form.title.label }}<br>
                    {{ form.title(class="form-control") }}<br>
                    {% for error in form.title.errors %}
                        <p class="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                    {% endfor %}
                </div>
                <div>
                    {{ form.content.label }}<br>
                    {{ form.content(class="form-control") }}<br>
                    {% for error in form.content.errors %}
                        <p content="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                    {% endfor %}
                </div>
                    <p class="d-flex justify-content-center" >{{ form.submit(type="submit", class="btn btn-primary") }}</p>
                </div>

                {{ message }}
            </div>
        </div>
    </div>
    </form>
    <style>

                body {
                background: 	#6495ED
                }

    </style>
</main>
</body>
</html>