<!doctype html>
<html lang="ru">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/custom.css">
    <link rel="shortcut icon" href="static/images/favicon.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}"/>
    <title>maps</title>

    <style>
   H1 {
    font-size: 160%;
    color: white;
   }

   .color1 {
   background: 	#4682B4
   }

   .color2 {
   background: #6495ED
   }

   .color3 {
   background: 	#87CEFA;
   }








    </style>
</head>
<body>
<div class="carousel slide" data-ride="carousel">
    <div id="carousel-basic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="carousel-basic" data-slide-to="0" class="active"></li>
            <li data-target="carousel-basic" data-slide-to="1"></li>
            <li data-target="carousel-basic" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper -->
        <div class="carousel-inner" role="listbox">


            <div class="carousel-item active color1">
                <div class="d-flex align-items-center justify-content-center min-vh-100">
                    <h1 class="display-1">Карты</h1>
                </div>
                <div class="container">
                    <div class="carousel-caption text-end">
                        <h2>Погода, транспорт, навигация, поиск мест</h2>
                        <p>Карты помогут найти нужное место, построят до него маршрут на общественном транспорте,
                            автомобиле или пешком, </p>
                        <p>покажут погоду на карте и прогноз погоды на ближайшие дни</p>
                        <a class="btn btn-lg btn-primary" href="#">Sign in</a>
                        <a class="btn btn-lg btn-primary" href="#">Sign up</a>
                        <p>_____________________</p>
                    </div>
                </div>
            </div>


            <div class="carousel-item color2">
                <div class="d-flex align-items-center justify-content-center min-vh-100">
                    <h1 class="display-1">Карты</h1>
                </div>
                <div class="container">
                    <div class="carousel-caption text-end">
                        <h2>Погода, транспорт, навигация, поиск мест</h2>
                        <p>Карты помогут найти нужное место, построят до него маршрут на общественном транспорте,
                            автомобиле или пешком, </p>
                        <p>покажут погоду на карте и прогноз погоды на ближайшие дни</p>
                        <a class="btn btn-lg btn-primary" href="#">Sign in</a>
                        <a class="btn btn-lg btn-primary" href="#">Sign up</a>
                        <p>_____________________</p>
                    </div>
                </div>
            </div>

            <div class="carousel-item color3">
                <div class="d-flex align-items-center justify-content-center min-vh-100">
                    <h1 class="display-1">Карты</h1>
                </div>
                <div class="container">
                    <div class="carousel-caption text-end">
                        <h2>Погода, транспорт, навигация, поиск мест</h2>
                        <p>Карты помогут найти нужное место, построят до него маршрут на общественном транспорте,
                            автомобиле или пешком, </p>
                        <p>покажут погоду на карте и прогноз погоды на ближайшие дни</p>
                        <a class="btn btn-lg btn-primary" href="#">Sign in</a>
                        <a class="btn btn-lg btn-primary" href="#">Sign up</a>
                        <p>_____________________</p>
                    </div>
                </div>
            </div>
            <!-- Controls -->
            <a class="carousel-control-prev" href="#carousel-basic" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Назад</span>
            </a>
            <a class="carousel-control-next" href="#carousel-basic" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Вперед</span>
            </a>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>
</html>